<!-- app/views/layouts/_header.html.erb -->

<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <%= link_to 'My Blog', root_path, class: 'text-white text-xl font-bold' %>
    </div>
    <div>
      <%= link_to 'Home', root_path, class: 'text-white mr-4' %>
      <%= link_to 'New Post', new_post_path, class: 'text-white' %>
    </div>
  </div>
</nav>